* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#contenue {
    background-color: deepskyblue;
    border-radius: 20px;
    width: 600px;
    height: 260px;
    padding: 10px;
    position: relative;
    left: 500px;
    top: 270px;
}

h1 {
    font-weight: bolder;
    margin: 30px;
    font-size: 30px;
}

#test {
    margin: 20px;
}

input {
    width: 300px;
    height: 30px;
}

#genere {
    margin: 20px;
    padding: 10px;
    background-color: lime;
    border-radius: 20px;
}

#genere:hover {
    color: white;
}